* {
    font-family: spaceMono;
    color: white;
    margin:0;
    padding:0;
    transition: 0.4s ease;
}
html {
    min-height: 400px;
    height: 100%;
    width: 100%;
    user-select: none;
}
body {
    background-color: #808080;
    display: flex;
    flex-direction: row;
    max-height: 100%;
}
/* #game {
    position: absolute;
    top: 0px;
    left: 0px;
} */

#map {
    position: relative;
}

.text-box{
    position: absolute;
    border-radius: 10px;
    background: #0005;
    z-index: 1;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    pointer-events:none;
}

.text-close{
    position:absolute;
    top: 0px;
    right: 5px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    z-index: 1;
    pointer-events:all;
}

@font-face {
    font-family: spaceMono;
    src: url(./assets/spaceMono-regular.ttf);
}
/* assign this to buttons for each world */
.world-buttons {
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #0005;
    font-size: 15px;
    color: white;
    font-weight: bold;
    z-index: 1;
    pointer-events:all;
    border: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.upgrade-btn {
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    left: 10px;
    bottom: 50px;
    background: #0005;
    color: white;
    font-weight: bold;
    z-index: 1;
    pointer-events:all;
    border: 5px solid #fff;
}

.upgrade-menu {
    pointer-events:all;
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 800px;
    left: 0;
    top: 0;
    display: flex;
    
}

.upgrade-bar {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background: #000a;
    font-size: 15px;
    color: white;
    border: 5px solid #fff;
    border-radius: 10px;
}

.upgrade-info {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0px;
    background: #000a;
    font-size: 15px;
    color: white;
    border: 5px solid #fff;
    border-radius: 10px;
    overflow-x: hidden;
}

.upgrade-tree {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    top: 0;
    left: 200px;
    right: 0px;
    min-width:200px;
    border-radius: 10px;
    background: #000a;
    font-size: 15px;
    color: white;
    z-index: 1;
    border: 5px solid #fff;
    overflow-x: auto;
}

.tree-container {
    width: 1500px;
    height: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade-node {
    border: 3px solid #fff;
    background: #f00a;
	text-decoration: none;
	display: inline-block;
	width: 100px;
    height: 100px;
	border-radius: 25px;
    box-shadow: 0 0 10px white;
    margin: 0 10px 0 10px
}

.upgrade-node:hover {
    font-size: 17px;
	border-radius: 25px;
    box-shadow: 0 0 20px white;
}

.upgrade-tree ul {
	padding-top: 20px; position: relative;
}

.upgrade-tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
}

/*We will use ::before and ::after to draw the connectors*/

.upgrade-tree li::before, .upgrade-tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 2px solid #fff;
	width: 50%; height: 20px;
}
.upgrade-tree li::after{
	right: auto; left: 50%;
	border-left: 2px solid #fff;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.upgrade-tree li:only-child::after, .upgrade-tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.upgrade-tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.upgrade-tree li:first-child::before, .upgrade-tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.upgrade-tree li:last-child::before{
	border-right: 2px solid #fff;
	border-radius: 0 5px 0 0;
}
.upgrade-tree li:first-child::after{
	border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.upgrade-tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 2px solid #fff;
	width: 0; height: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0009;
    box-shadow:inset 0 0 10px #fff5;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-corner {
    background: none;
  }

.drag {
    cursor: grab
}

.base-btn {
    position: relative;
    width: 160px;
    padding: 10px;
    background: #0005;
    color: white;
    font-weight: bold;
    z-index: 1;
    pointer-events:all;
    border: 5px solid #fff;
    border-radius: 25px;
    display:inline-block;
    margin:15px;
    font-size: 15px;
}

.base-btn:hover {
    transform: scale(1.05);
}
.upgrade-btn:hover {
    transform: scale(1.05);
}
.world-buttons:hover {
    transform: scale(1.05);
}

.base-btn:disabled {
    opacity: 0.5;
}


.select-btn {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #0005;
    color: white;
    font-weight: bold;
    z-index: 1;
    pointer-events:all;
    border: 5px solid #fff;
    border-radius: 5px;
    display:inline-block;
    font-size: 15px;
}

button {
    font: none;
    font-size: 15px;
}
button:hover {
    cursor:pointer;
}

.sideMenu{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    flex-grow: 1;
}

.selectMenu{
    display:flex;
    flex-flow: row wrap;
    width: 100%;
    overflow-y: scroll;
    background-color: red;
}

.upgradeMenu{
    width: 100%;
    height: 100%;
    background-color: green;
}

.menuItem{
    pointer-events:all;
    width: 50%;
    height: 500px;
}