html {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  body {
    background-color: #808080; 
  }
  #game {
    position: absolute;
    top: 0px;
    left: 0px;
    user-select: none; /* supported by Chrome and Opera */
     -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
  }